[Desktop Entry]
Name=Kazumi Max
Comment=Watch Animes online with danmaku support.
Comment[zh_CN]=一款好用的追番软件
Exec=kazumi
StartupWMClass=kazumi
Icon=app.kazumimax
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Video;
